.about__features {
  display: flex;
  flex-direction: column;
  width: 280px;
}

@media (min-width: $tablet-width) {
  .about__features {
    display: flex;
    flex-direction: row;
    width: 620px;
  }

  .about__img-third {
    order: 1;
  }

  .about__img-first,
  .about__img-second {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .about {
    display: flex;
    flex-direction: column;
  }

  .about__features {
    display: flex;
    flex-direction: row;
    width: 940px;
  }

  .about__img-first,
  .about__img-second {
    display: block;
  }

  .about__advantages-list {
    display: flex;
    flex-direction: column;
  }
}

.about__text-list {
  background-color: #ffffff;
  text-align: center;
  margin-top: 47px;
  margin-bottom: 60px;
}

.about__list-point {
  font-size: 24px;
  color: #283645;
  font-weight: 300;
  text-align: center;
}

.about__advantages-list {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 57px;
  padding-bottom: 45px;
}

.about__advantages-header {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.about__advantages-text {
  color: #283645;
  font-size: 14px;
  text-align: center;
  margin: 0;
  margin-bottom: 39px;
}

.about__img-first,
.about__img-second {
  display: none;
}

.about__img-third {
  text-align: center;
  padding-top: 45px;
  order: 3;
}
