.about {
  width: 320px;
}

.about__wrapper {
  display: flex;
  flex-direction: column;
}

.about__img-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
  background-color: #f2f2f2;
}

.about__features {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__text-list {
  background-color: #ffffff;
  text-align: center;
  margin-top: 47px;
  margin-bottom: 60px;
}

.about__list-point {
  font-size: 24px;
  color: #283645;
  font-weight: 300;
  text-align: center;
  font-family: "Open Sans Light", sans-serif;
}

.about__advantages-list {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 57px;
  padding-bottom: 45px;
}

.about__advantages-header {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.about__advantages-text {
  color: #283645;
  font-size: 14px;
  text-align: center;
  margin: 0;
  margin-bottom: 39px;
}

.about__img-first,
.about__img-second {
  display: none;
}

.about__img-third {
  text-align: center;
  padding-top: 45px;
}

@media (min-width: $tablet-width) {
  .about {
    width: 620px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .about__features {
    display: flex;
    flex-direction: column;
    width: 620px;
  }

  .about__img-third {
    order: 1;
  }

  .about__img-first,
  .about__img-second {
    display: none;
  }

  .about__img-wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
  }

  .about__wrapper {
    display: flex;
    flex-direction: row-reverse;
    width: 620px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

@media (min-width: $desktop-width) {
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .about-wrapper {
    display: flex;
    flex-direction: column;
    width: 940px;
  }

  .about__features {
    display: flex;
    flex-direction: row;
    width: 940px;
    margin: 0 auto;
  }

  .about__advantages-list {
    display: flex;
    flex-direction: column;
    width: 240px;
  }

  .about__img-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .about__img-first,
  .about__img-second {
    display: block;
  }

  .about__img-third {
    padding: 0;
  }

  .about__text-list {
    width: 733px;
  }

  .about__list-point {
    font-size: 50px;
    font-weight: 300;
  }
}
