.applications {
  background-color: #1d2631;
  text-align: center;
}

.applications__link {
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  text-align: center;
  border: 3px solid #ffffff;
  border-radius: 50px 50px;
  padding: 15px 35px;
  display: block;
  margin-top: 28px;
  text-decoration: none;
}

.applications__text {
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 300;
  text-align: center;
}

.applications__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.applications__wrapper {
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
