.applications {
  background-color: #1d2631;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
}

.applications__header {
  display: none;
}

.applications__link {
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  text-align: center;
  border: 3px solid #ffffff;
  border-radius: 50px 50px;
  padding: 15px 35px;
  display: block;
  margin-top: 28px;
  text-decoration: none;
  width: 200px;
}

.applications__text {
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 300;
  text-align: center;
}

.applications__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (min-width: $tablet-width) {
  .applications {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 620px;
    margin: 0 auto;
  }

  .applications__header {
    display: block;
    font-size: 40px;
    color: #ffffff;
    font-weight: 300;
  }

  .applications__img {
    order: 2;
  }

  .applications__wrapper {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    justify-content: center;
    margin-bottom: 113px;
    margin-top: 105px;
  }
}

@media (min-width: $desktop-width) {
  .applications {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 940px;
    margin: 0 auto;
  }

  .applications__wrapper {
    display: flex;
    flex-direction: column;
    width: 370px;
    align-items: center;
    justify-content: center;
    margin-bottom: 113px;
    margin-top: 105px;
  }
}
