.contacts {
  background-color: #ffffff;
  text-align: center;
}

.contacts__question {
  font-size: 24px;
  color: #283645;
  font-weight: 300;
}

.contacts__item-text {
  font-size: 18px;
  color: #283645;
  font-weight: bold;
}

.contacts__item-value {
  font-size: 24px;
  color: #d22856;
  font-weight: 300;
}

@media (min-width: $tablet-width) {
  .contacts {
    display: flex;
    flex-direction: column;
  }

  .contacts__data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  .contacts__text {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .contacts__data {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
