.form-title__text {
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  text-align: center;
  background-color: #ffffff;
  padding-top: 54px;
  padding-bottom: 49px;
  margin: 0 auto;
  width: 271px;
}

@media (min-width: $tablet-width) {
  .form-title__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 436px;
    padding-top: 54px;
    padding-bottom: 60px;
    padding-left: 121px;
    padding-right: 121px;
  }
}

@media (min-width: $desktop-width) {
  .form-title__text {
    width: 568px;
    padding-top: 100px;
    padding-bottom: 60px;
    padding-left: 316px;
    padding-right: 316px;
  }
}
