.form {
  background-color: #ffffff;
  text-align: center;
}

.form__name-fieldset,
.form__filter-fieldset,
.form__address-fieldset,
.form__emotions-fieldset {
  border: none;
}

.form__name-fieldset {
  display: flex;
  flex-direction: column;
}

.form__filter-achivements {
  width: 280px;
  margin: 0;
  padding: 0;
}

.form__name-wrapper,
.form__address-wrapper {
  display: flex;
  flex-direction: column;
}

.form__label-field {
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;
  width: 30px;
  padding-left: 28px;
}

.form__label-field--tel {
  width: 137px;
  text-align: left;
}

.form__input {
  border: 2px solid #e5e5e5;
  border-radius: 3px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 15px;
}

input[type="text"] {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
  font-family: "Open Sans", sans-serif;
}

.form__filter-fieldset {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form__filter-legend,
.form__emotions-legend {
  margin: 0;
  padding: 0;
  padding-top: 36px;
  padding-left: 35px;
  padding-right: 35px;
  margin-bottom: 45px;
  font-size: 14px;
  line-height: 18px;
  color: #d22856;
  text-align: center;
  text-transform: uppercase;

  &--show {
    display: none;
  }
}

.form__filter-option,
.form__filter-apps,
.form__emotions-textarea {
  list-style: none;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  font-family: "Open Sans", "Arial", sans-serif;
}

.form__filter-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form__filter-option {
  margin-bottom: 65px;
}

.form__filter-option:last-child {
  margin-bottom: 45px;
}

.form__emotions-legend {
  display: block;
  margin-bottom: 20px;
}

.form__emotions-fieldset {
  margin-top: 40px;
}

.form__emotions-textarea {
  width: 280px;
  height: 200px;
  border: 2px solid #e5e5e5;
  border-radius: 3px;
  padding-left: 20px;
  padding-top: 23px;
  box-sizing: border-box;
}

.form__address-fieldset {
  margin-top: 41px;
  margin-bottom: 42px;
  margin-left: 20px;
  padding: 0;
  width: 280px;
}

.form__address-wrapper--tel {
  margin-top: 28px;
}

.form__submit,
.form__pop-up-button {
  background-color: #2aab6c;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  padding: 22px 45px;
  margin-top: 52px;
  margin-bottom: 46px;
  font-family: "Open Sans", "Arial", sans-serif;
  border-radius: 3px;
  border: none;
  width: 280px;
  box-sizing: border-box;
}

.form__small {
  font-size: 14px;
  line-height: 30px;
  color: #283645;
}

.form__small sup {
  color: #d22856;
}

.form__star {
  color: #d22856;
}

.form__pop-up-good,
.form__pop-up-failure {
  background-color: #ffffff;
}

.form__pop-up-headline {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  font-weight: bold;
  text-align: center;
}

.form__submit-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__pop-up-text {
  font-size: 14px;
  line-height: 24px;
  color: #283645;
  text-align: center;
}

.form__pop-up-wrapper {
  background-color: #f2f2f2;
}

@media (min-width: $tablet-width) {
  .form {
    width: 620px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .form__filter-fieldset,
  .form__address-fieldset,
  .form__emotions-fieldset {
    border: 2px solid #e5e5e5;
    background: none;
  }

  .form__filter-legend {
    &--show {
      display: block;
    }
  }

  .form__submit-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 65px;
    margin-bottom: 80px;
  }

  .form__submit {
    margin: 0;
    width: 300px;
  }

  .form__name-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 56px;
  }

  .form__emotions-textarea {
    width: 496px;
    min-height: 189px;
    border: 2px solid #e5e5e5;
    padding-left: 19px;
    padding-top: 23px;
    box-sizing: border-box;
  }

  .form__label-field {
    padding: 0;
  }

  .form__address-wrapper {
    flex-direction: column-reverse;
    margin-top: 40px;
  }

  .form__address-wrapper--tel {
    margin-bottom: 33px;
  }

  .form__address-fieldset {
    width: 620px;
    margin: 0;
    box-sizing: border-box;
    margin-bottom: 62px;
    margin-top: 62px;
  }

  .form__address-container {
    width: 500px;
    margin: 0 auto;
  }

  .form__input--tel {
    width: 500px;
  }

  .form__input--second-name {
    width: 521px;
    box-sizing: border-box;
  }

  .form__input--first-name {
    width: 561px;
    box-sizing: border-box;
  }

  .form__input--last-name {
    width: 522px;
    box-sizing: border-box;
  }

  .form__name-fieldset {
    padding: 0;
  }

  .form__filter-apps {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 194px;
    padding-left: 0;
  }

  .form__filter-radio {
    padding-bottom: 15px;
  }

  .form__filter-achivements {
    width: 258px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

@media (min-width: $desktop-width) {
  .form {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .form__submit-wrapper {
    width: 940px;
    justify-content: space-between;
  }

  .form__address-container {
    width: 820px;
    margin-left: 60px;
    margin-right: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .form__address-wrapper {
    width: 375px;
  }

  .form__filter-achivements {
    display: flex;
    width: 820px;
    flex-direction: row;
    justify-content: space-around;
  }

  .form__address-fieldset {
    width: 940px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 65px;
    margin-bottom: 65px;
  }

  .form__emotions-textarea {
    width: 820px;
    min-height: 125px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 45px;
    margin-top: 45px;
    order: 4;
  }

  .form__submit {
    margin-right: 320px;
  }

  .form__filter-wrapper {
    display: flex;
    flex-direction: column;
  }
}
