.main-footer {
  background-color: #ffffff;
  text-align: center;

  &--index {
    display: none;
  }
}

.main-footer__design {
  font-size: 14px;
  line-height: 18px;
  color: #283645;
}

@media (min-width: $tablet-width) {
  .main-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 620px;
    margin: 0 auto;
  }

  .main-footer__design {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .main-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;
  }

  .main-footer__design {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
