.site-list__item {
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  padding: 25px 95px;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  text-decoration: none;
}

.site-list {
  list-style: none;
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;
  }

  .site-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .site-list__item {
    font-size: 18px;
    line-height: 18px;
    font-weight: 300;
    color: #ffffff;
    text-decoration: none;
    text-transform: none;
    border: none;
  }
}
