.main-footer {
  background-color: #ffffff;
  text-align: center;

  &--index {
    display: none;
  }
}

.main-footer__design {
  font-size: 14px;
  line-height: 18px;
  color: #283645;
  display: flex;
  flex-direction: row;
  width: 128px;
  margin: 0 auto;
  justify-content: center;
}

.main-footer__design-logo {
  width: 26px;
  display: block;
  margin-left: 15px;
}

.main-footer__design-text {
  width: 86px;
  margin: 0;
  padding: 0;
  display: block;
  font-size: 14px;
  line-height: 18px;
  margin-top: 4px;
  margin-left: -2px;
}

.main-footer__social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 40px;
}

.main-footer__logo {
  margin-top: 40px;
  margin-bottom: 34px;
  display: block;
}

@media (min-width: $tablet-width) {
  .main-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 620px;
    padding: 0 20px;
    margin: 0 auto;
  }

  .main-footer__design {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 60px;
    margin-top: 66px;
  }

  .main-footer__social {
    margin-left: 31px;
    margin-bottom: 37px;
    margin-top: 42px;
  }

  .main-footer__design-logo svg {
    margin-top: -10px;
  }
}

@media (min-width: $desktop-width) {
  .main-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    margin-top: 67px;
  }

  .main-footer__design {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .main-footer__social {
    margin-left: 240px;
    margin-right: 160px;
  }

  .main-footer__design-text {
    font-size: 18px;
  }

  .main-footer__design-logo {
    margin-left: 35px;
  }
}
