.new-photo {
  background-color: #f2f2f2;
  text-align: center;
}

.new-photo__button {
  font-size: 18px;
  line-height: 18px;
  color: #283645;
  font-weight: bold;
  text-align: center;
  border: 3px solid #283645;
  border-radius: 50px 50px;
  padding: 15px 35px;
  font-family: "Open Sans", "Arial", sans-serif;
  text-decoration: none;
  margin-bottom: 40px;
}

.new-photo__button--active {
  color: #d22856;
  border: 3px solid #d22856;
  margin-bottom: 12px;
}

.new-photo__settings {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 38px;
}

.new-photo__image {
  margin-top: 20px;
  margin-bottom: 42px;
}

.new-photo__line {
  margin-bottom: 35px;
}

.new-photo__line-wrapper {
  border-bottom: 1px solid #dddee0;
}

.new-photo__button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-top: 38px;
  width: 280px;
}
