.new-photo {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-photo__settings-wrapper,
.new-photo__transform {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-photo__setting {
  margin-right: 34px;
  fill: #b4b8bd;
}

.new-photo__setting--active {
  fill: #d12755;
}

.new-photo__setting:last-child {
  margin-right: 0;
  margin-top: 10px;
}

.new-photo__button {
  font-size: 18px;
  line-height: 18px;
  color: #283645;
  font-weight: bold;
  text-align: center;
  border: 3px solid #283645;
  border-radius: 50px 50px;
  padding: 15px 35px;
  font-family: "Open Sans", "Arial", sans-serif;
  text-decoration: none;
  margin-bottom: 41px;
  opacity: 0.1;

  &--active {
    color: #d22856;
    border: 3px solid #d22856;
    opacity: 1;
    margin-bottom: 12px;
  }
}

.new-photo__settings {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 38px;
}

.new-photo__image {
  margin-top: 20px;
  margin-bottom: 42px;
}

.new-photo__line {
  margin-bottom: 35px;
}

.new-photo__wrapper {
  border-bottom: 1px solid #dddee0;
}

.new-photo__second-line,
.new-photo__third-line {
  display: none;
}

.new-photo__button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-top: 28px;
  width: 280px;
}

.new-photo__scale {
  height: 2px;
}

.new-photo__bar {
  height: 2px;
  background: #283645;
  width: 280px;
}

.new-photo__toggle {
  position: relative;
  top: -10px;
  left: 0;
  width: 14px;
  height: 14px;
  padding: 0;
  border: 2px solid #d33862;
  background-color: #f1f1f1;
  border-radius: 50%;
  cursor: pointer;

  &--first {
    left: 214px;
  }
}


@media (min-width: $tablet-width) {
  .new-photo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 620px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .new-photo__setting {
    height: 23px;
    width: 22px;
    fill: #d12755;
  }

  .new-photo__setting:first-child {
    margin-top: 65px;
  }

  .new-photo__setting:nth-child(2) {
    margin-top: 26px;
    margin-right: 30px;
  }

  .new-photo__setting:last-child {
    height: 15px;
    margin-top: 30px;
    margin-right: 30px;
  }

  .new-photo__settings-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
  }

  .new-photo__settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .new-photo__first-line {
    margin-bottom: 29px;
    margin-top: 76px;
  }

  .new-photo__second-line,
  .new-photo__third-line {
    display: block;
    margin-bottom: 29px;
  }

  .new-photo__line-wrapper {
    display: flex;
    flex-direction: column;
  }

  .new-photo__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .new-photo__bar {
    width: 202px;
  }

  .new-photo__toggle {
    &--first {
      left: 150px;
    }

    &--second {
      left: 30px;
    }

    &--third {
      left: 100px;
    }
  }
}

@media (min-width: $desktop-width) {
  .new-photo__button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .new-photo__settings-wrapper {
    width: 410px;
    margin-left: 90px;
  }

  .new-photo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 800px;
    margin: 0 auto;
    padding: 0 80px;
  }

  .new-photo__bar {
    width: 288px;
  }

  .new-photo__toggle {
    &--first {
      left: 50px;
    }

    &--second {
      left: 240px;
    }

    &--third {
      left: 150px;
    }
  }

  .new-photo__image {
    margin-top: 57px;
    margin-bottom: 57px;
  }

  .new-photo__first-line {
    margin-bottom: 29px;
    margin-top: -106px;
  }

  .new-photo__setting:first-child {
    margin-top: -116px;
  }
}
