.page-header {
  background-color: #283645;
  text-transform: uppercase;
  list-style: none;
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    display: flex;
    flex-direction: row;
  }
}
