.page-header {
  background-color: #283645;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  height: 239px;

  &--index {
    background-image: none;
  }
}

.page-header__inner {
  position: relative;
  height: 65px;
  display: flex;
  align-items: center;
  background-color: rgba(#000000, 0.3);
}

.page-header__logo-inner {
  margin-top: 5px;
  margin-left: 20px;
  width: 75px;
}

.page-header__headline {
  font-size: 24px;
  color: #ffffff;
  font-weight: 300;
  text-align: center;
  margin: 0;
  padding-top: 27px;
  padding-left: 76px;
  padding-right: 76px;
  font-family: "Open Sans Light", sans-serif;

  &--form {
    padding-top: 27px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 620px;
    margin: 0 auto;
    padding: 0 20px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: center;

    &--index {
      background-image: none;
      height: 110px;
    }
  }

  .page-header__inner {
    width: 620px;
    padding: 0 20px;
    height: 110px;
  }

  .page-header__logo {
    width: 146px;
    margin-top: 55px;
    margin-bottom: 43px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    display: flex;
    flex-direction: row;
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-size: cover;
  }

  &--index {
    background-image: none;
  }
}
