.photo-title__headline {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 236px;
  font-size: 24px;
  color: #ffffff;
  font-weight: 300;
  text-align: center;
}

.photo-title__text {
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  text-align: center;
  background-color: #ffffff;
  padding-top: 55px;
  padding-bottom: 60px;
}
