.prices {
  background-color: #f2f2f2;
  width: 320px;
}

.prices__list {
  background-color: #ffffff;
  text-align: center;
  margin: 0 auto;
  margin-top: 70px;
  border: 2px solid #e5e5e5;
}

.prices__first-line {
  background-color: #273545;
}

.prices__type {
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}

.prices__number {
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 300;
  font-family: "Open Sans Light", sans-serif;
}

.prices__value {
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  text-transform: uppercase;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 2px solid #e5e5e5;
  border: collapse;
}

.prices__button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 50px;
  width: 56px;
}

.prices__empty {
  display: none;
}

.prices__base,
.prices__unlim {
  display: none;
}

.prices__button {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #bdc2c6;
  padding: 5px;
  margin-right: 7px;
  border: none;
}

.prices__button--active {
  width: 3px;
  height: 3px;
  border: 3px solid #283645;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 7px;
  padding: 2px;
}

@media (min-width: $tablet-width) {
  .prices {
    width: 620px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .prices__list {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    margin-bottom: 70px;
    margin-top: 87px;
    width: 620px;
    border-collapse: collapse;
    border-radius: 3px;
  }

  .prices__list td {
    width: 154px;
    border: 2px solid #e5e5e5;
  }

  .prices__empty {
    background-color: #f2f2f2;
  }

  .prices__button-wrapper {
    display: none;
  }

  .prices__base,
  .prices__unlim,
  .prices__empty {
    display: table-cell;
    border-radius: 3px;
  }

  .prices__value {
    text-transform: none;
    text-align: left;
    padding-left: 15px;
  }
}

@media (min-width: $desktop-width) {
  .prices {
    width: 940px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0 10px;
  }

  .prices__list td {
    width: 235px;
  }
}
