.prices {
  background-color: #f2f2f2;
  width: 320px;
}

.prices__list {
  background-color: #ffffff;
  text-align: center;
  margin: 0 auto;
  margin-top: 70px;
  border: 2px solid #e5e5e5;
}

.prices__first-line {
  background-color: #273545;
}

.prices__type {
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}

.prices__number {
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 300;
}

.prices__value {
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  text-transform: uppercase;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 2px solid #e5e5e5;
  border: collapse;
}

.prices__button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 50px;
}

.prices__empty {
  display: none;
}

.prices__base,
.prices__unlim {
  display: none;
}

@media (min-width: $tablet-width) {
  .prices {
    width: 620px;
  }

  .prices__list {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 70px;
    margin-top: 87px;
  }

  .prices__list td {
    width: 154px;
  }

  .prices__empty {
    background-color: #f2f2f2;
    display: block;
  }

  .prices__base,
  .prices__unlim {
    display: block;
  }

  .prices__button-wrapper {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .prices {
    width: 940px;
    display: flex;
    justify-content: center;
  }

  .prices__list td {
    width: 235px;
  }

  .prices__empty {
    background-color: #f2f2f2;
    display: block;
  }

  .prices__base,
  .prices__unlim {
    display: block;
  }

  .prices__button-wrapper {
    display: none;
  }
}
