.reviews {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-top: 53px;
  width: 280px;
}

.reviews__name {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  font-weight: bold;
  text-align: center;
  margin-top: 45px;
  margin-bottom: 30px;
  display: block;
}

.reviews__text {
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  text-align: center;
  padding: 0;
  padding-bottom: 40px;
  margin: 0;
}

.reviews__job {
  display: none;
}

.reviews__button-wrapper {
  margin-top: 39px;
  margin-bottom: 63px;
  display: flex;
  justify-content: center;
}

@media (min-width: $tablet-width) {
  .reviews__text {
    order: 1;
  }

  .reviews__name {
    order: 2;
  }

  .reviews__job {
    display: block;
    order: 3;
    font-size: 14px;
    line-height: 16px;
    color: #283645;
  }

  .reviews__button-wrapper {
    order: 4;
  }
}

@media (min-width: $desktop-width) {
  .reviews__text {
    order: 1;
  }

  .reviews__name {
    order: 2;
  }

  .reviews__job {
    order: 3;
  }

  .reviews__button-wrapper {
    display: none;
  }
}
