.site-list__item a {
  display: block;
  padding: 16px 60px;
  padding-bottom: 13px;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #283645;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;
  text-align: center;
}

.site-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  top: 93px;
  left: -40px;
  z-index: 2;
}

@media (min-width: $desktop-width) {
  .site-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .site-list__item a {
    font-size: 18px;
    line-height: 18px;
    font-weight: 300;
    color: #ffffff;
    text-decoration: none;
    text-transform: none;
    border: none;
  }
}
